* {
box-sizing: border-box;
margin: 0%;
padding: 0%;
}

body {
padding: 10%;
background-color: #e3caff;
font-family: sans-serif;
color: #100729;
}

div {
background-color: #fdfaff;
text-align: center;
padding: 2rem;
border-radius: 0.75rem;
max-width: 30rem;
margin: auto;
}

div h1 {
font-size: 2.55rem;
margin-bottom: 3%;
}

div ol {
list-style: none;
}

div ol li {
margin-top: 2%;
}

div ol li a {
display: block;
border-radius: 0.75rem;
padding: 3%;
background-color: #a176f0;
color: #f7eeff;
text-decoration: none;
}

div ol li a:hover {
background-color: #df65fd;
}