header {
    text-align: center;
    font-size: 3rem;
    color: rgb(76, 43, 226);
    font-style: italic;
    background-color: cornflowerblue;
    text-decoration: underline;
};

main {
    text-decoration: dotted;
    font-size: 2rem;
    font-weight: bold;
    color: blue;
    background-color: darkorchid;
};